* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-inter {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight:700;
    color: #FFFFFF;
}
 .btn-icon {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight:700;
    color: #FFFFFF;
    background-repeat: no-repeat;
 }

   .fa-solid fa-caret-right {
     width: 198px;
     height: 52px;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 700;
     border: none;
   }
/* main style */

header {
    background-color: #FFFFFF;
}

nav {
   /* border: 1px solid red; */ 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

#banner {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: centre;
    text-align: center;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-green {
    color: #30B868;
}

 .color-white {
    color: #FFFFFF;
 }

#banner .banner-content h3, h4 {
 font-size: 72px;
 font-weight: bold;
 margin: 16px, 295px;
 align-items: center;
}

#banner .banner-content p {
    font-size: 18px;
    color: #FFFFFF;
}

#banner .banner-content button {
   border-radius: 4px;
   font-size: 16px;
   color: #FFFFFF;
   /* margin: 0 auto; */
}

.banner-content .btn-icon {
    background-image: url(../images/ArrowRight.png);
}

.banner-content .Access {
    width: 230px;
    height: 36px;
    border-radius: 1000px;
    font-size: 16px;
    color: #469165;
    background: none;
}
#structure {

}
#structure .structure-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

.section-heading h2 {
 text-align: center;
 margin: 0 auto;
 margin-bottom: 16px;
 font-size: 48px;
 font-weight: bold;
}

.section-heading p {
    font-size: 16px;
    margin-bottom: 44px;
    text-align: center;
    color: #627382;
    line-height: 20px;
}
.structure-card .image {
     padding: 3px;
     background-color: rgba(214, 34, 34, 0.938);
     width: fit-content;
     margin-bottom: 16px;
}

#structure .structure-box {
    display: flex;
    gap: 24px; 
}

.structure-box .structure-card {
   padding: 24px;
   /* border: 1px solid red; */
   max-width: 322px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.structure-card h3 {
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

#structure-box .structure-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}
