* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-inter {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight:700;
    color: #FFFFFF;
}
/* main style */
header {
    background-color: #FFFFFF;
}

nav {
    width: 85%;
    max-width: 1360px;
    border: /* 1px solid red; */ 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

#banner {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
}

.color-green {
    color: #30B868;
}
 .color-white {
    color: #FFFFFF;
 }
#banner .banner-content {
  width: 85%;
  max-width: 1360px;
  
}